main {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
	main * {
		margin-bottom: 1rem;
	}

button {
	background-color: black;
	border: 1px solid var(--white);
	color: var(--white);
	cursor: pointer;
	padding: 0.25rem 1rem;
	text-align: center;
	text-decoration: none;
	size: 48px;
}

.modal{
	display:none;
	position:fixed;
	z-index: 1;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--dark-grey);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: rgba(0,0,0,0.85);
	border: 1px solid var(--white);
	display: flex;
	justify-content: space-between;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}
/*modal close button*/
.close {
	color: var(--white);
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin: 2rem 2rem 0 0;
}
	.close:hover, .close:focus {
		color: var(--dark-grey);
		text-decoration: none;
		cursor: pointer;
	}

#bio {
/*	background-color: rgba(0,0,0,0.5);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
}
	#bio * {
		margin: .5rem 0;
	}

#contact-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	#contact-info li a {
		padding: .25rem 1rem;
	}

#finger-guns-img {
	border-radius: 50%;

	max-width: 25vw;
}

#headshot-photo {
	max-width: 100%;
	border-radius: 50%;
}

#photo-and-contact {
	align-items: center;
	display:flex;
	flex-direction: column;
	max-width: 500px;
}

#skills-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}
	#skills-list li {
		border: 1px solid var(--white);
		text-align: center;
	}