body {
	position: relative;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: start;
	float: left;
	position: fixed;
	top: 1rem;
	left: 0.5rem;
}
	nav * {
		left: 0px;
	}

.nav-button {
	background-color: rgba(0,0,0,0.5);
	border: 1px solid var(--white);
	color: var(--white);
	cursor: pointer;
	width: 35vw;
	text-align: center;
	text-decoration: none;

}

.nav-list {
	display: none;
	width: 35vw;
}
	.nav-list li {
		margin-top: 25px;
		
	}
	.nav-list li a {
		width: 35vw;
	}



@media (min-width: 800px) {
	.nav-button {
		width: 20vw;
	}
	.nav-list {
		width: 20vw;
	}
}