body {
	position: relative;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: start;
	float: left;
	position: fixed;
}
	nav a {
		background-color: rgba(0,0,0,0.3);
		border: none;
		color: var(--white);
		cursor: pointer;
		padding: 0;
		margin: 1rem 0;
		text-align: center;
		text-decoration: none;
	}

.nav-button {
	margin-bottom: 2rem;
}

.nav-list {
	/* background-color: var(--color-2); */
	background-image: url(../images/hemlock.jpg);
	background-size: 100vw;
	width: 100vw;
}
	.nav-list li {
		margin-top: .5rem;
		padding: 0 1rem;
	}
		.nav-list li a {
			padding: 0 1rem;
		}

@media screen and (min-width: 700px) {
	.nav-list {
		display: flex;
	}
		.nav-list li {
			margin: 0 1rem;
		}

	.nav-button {
		display: none;
	}
}