@media only screen and (min-width: 600px) {
    main {
        background-image: url(../images/hemlock.jpg);
    }
}

@media only screen and (max-width: 600px) {
    main {
        background-image: url(../images/hemlock-upright.jpg);
    }
}

main{
	background-size: 100vw;
	color: var(--white);

}