main {
	background-color: var(--white);
/*	background-image: url(../images/leaves2.jpg);*/
}

.collapse-button {
	background-color: rgba(0,0,0,0.25);
	color: var(--white);
	border: 1px solid var(--white);
}
	.collapse-button:hover {
		background-color: rgba(0,0,0,0.75);
	}

.project {
/*	background-image: linear-gradient(red, yellow);*/
}

.slideshow-container {
	background-image: url(../images/hemlock.jpg);
	background-size: 100vw;
}