@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {

	--white: #C7D7D7;
	--color-1: #93A59E;
	--light-grey: #565944;
	--dark-grey: #3D3F34;
	--color-2: #9C792E;

}


* {
	line-height: 1.618;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: var(--color-2);
	text-decoration: none;
}

a:hover {
	background-color: var(--color-1);
	transition: .3s;
}

body {
	background-color: var(--color-1);
}

header {
	background-image: url(../images/forest.jpg);
	background-size: auto 100%;
	color: var(--light-grey);
}

.thumb:hover{
	transition: .5s;
	opacity: 0.3;
}

.thumb:hover .thumb-caption {
	transition: .5s;
	opacity: 1;
}

.thumb-caption {
	color: var(--dark-grey);
	opacity: 0;
}

#about {
	background-image: url("../images/hemlock.jpg");
	background-size: auto 100%;
	color: var(--white);
}

#project-thumbs a:hover h3{
	opacity: 1;
}