@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
:root {

	--white: #D7D3D2;
	--color-1: #736433;
	--color-2: #A48242;
	--light-grey: #626E6E;
	--dark-grey: #232420;

}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	line-height: 1.618;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;

}

.container{
	position: relative;
	margin: 0 auto;
}

a{
	/*border: 1px solid var(--white);*/
	color: var(--white);
	padding: .25rem 1rem;
	background-color: rgba(0,0,0,.25);
}
	a:hover {
		background-color: rgba(0,0,0,.75);
	}

h1, h2, h3 {
	font-family: 'Amatic SC', 'Open Sans', sans-serif;
	font-size: 3rem;
}
/*figure img{
	max-width: 100%;
}*/